/* body {
    margin: 0;
    padding: 10px;
    font-family: Arial, Helvetica, sans-serif;
}

input {
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
    border: 1px solid green;
    margin-bottom: 4px;
}

button {
    background-color: green;
    color: white;
    padding: 10px 20px;
    border: none;
    font-weight: bold;
} */

/* html, body {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

#box {
    cursor: pointer;
    background: lightgreen;
    padding: 40px;
    width: 200px;
    text-align: center;
    margin: 20px auto;
    color: white;
    font-weight: bold;
} */

body {
    margin: 0;
    padding: 10px;
    font-family: Arial, Helvetica, sans-serif;
    min-width: 400px;
}

input {
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
    border: 1px solid green;
    margin-bottom: 4px;
}

#delete {
    background: white;
    color: green;
    padding: 10px 20px;
    border: 1px solid green;
    font-weight: bold;
}

button {
    background: green;
    color: white;
    padding: 10px 20px;
    border: 1px solid green;
    font-weight: bold;
}

ul {
    margin-top: 20px;
    list-style: none;
    padding-left: 0;
}

li a {
    color: green;
}

li {
    margin-top: 5px;
}